LII_SALESDB DSN (for GQL Customer data)
PDI_PATH set to PDI installation directory
Custom jdbcodbc.jar installed
jdbcodbc.dll installed in libswt/<arch>
ojdbc.jar installed in lib
Latest H2 driver in lib